.flex {
	display: flex;
	flex-flow: row;
	align-content: stretch;
	align-items: stretch;
	margin-bottom: .5em;
	margin-top: .5em;
	padding: 0 1em;
}
.details {
	flex: 1 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: column;
	align-content: stretch;
	align-items: stretch;
	justify-content: space-around;
	margin: .5em;
}

.comments {
	padding: 1em;
	flex: 1 0 auto;
	display: flex;
	flex-flow: column;
	align-content: stretch;
	align-items: stretch;
	justify-content: space-around;
	margin: .5em;
}

.container {
	padding: 1em;
	width: 100%;
	height: 100%;
}

.pic {
	flex: 1 0 2%;
	padding: 1em;
	// margin-right: auto;
	// align-self: center;
}

.fileName {
	flex: 8 0 2%;
	padding: 1em;
	// align-self: center;
}

.lastUpdated {
	flex: 12 0 2%;
	padding: 1em;
	// align-self: center;
}

.id {
	flex: 1 0 2%;
	padding: 1em;
	// align-self: center;
	// margin-left: auto;
}