@font-face {
		font-family: "OpenSans";
		src: url("../../_fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 200;
	src: url("../../_fonts/open-sans/OpenSans-Light.ttf") format("truetype");
}

@font-face {
	font-family: 'OpenSans';
	font-style: italic;
	font-weight: 200;
	src: url("../../_fonts/open-sans/OpenSans-LightItalic.ttf") format("truetype");
}

@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 400;
	src: url("../../_fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'OpenSans';
	font-style: italic;
	font-weight: 400;
	src: url("../../_fonts/open-sans/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 600;
	src: url("../../_fonts/open-sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: 'OpenSans';
	font-style: italic;
	font-weight: 600;
	src: url("../../_fonts/open-sans/OpenSans-BoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 800;
	src: url("../../_fonts/open-sans/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
	font-family: 'OpenSans';
	font-style: italic;
	font-weight: 800;
	src: url("../../_fonts/open-sans/OpenSans-ExtraBoldItalic.ttf") format("truetype");
}
