.flex {
	display: flex;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0
}

.flex > * {

}

.teams {
	width: 30%;
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 1em;

	span {
		margin-bottom: 1em;
	}
}

.main {
	display: flex;
	flex-flow: column;
	justify-content:flex-start;
	width: 100%;
	padding: 20px;
	height: 100%;
}

.uiSwitch {
	width: 100%;
	height: 50vw;
	padding: 20px;
}

.repos {
	width: 100%;
	flex: 6 0 0;
	padding: 1em;
	overflow-y: scroll;
}

.members {
	width: 100%;
	flex: 1 0 auto;
	padding: 1em;
}

.nav {
	display: flex;
	justify-content: space-around;
	// align-content: space-between;
	height: 10%;
	width: 100%;
	margin-bottom: 20px;
	// margin: 10px;

	ul {
		height:100%;
		display: flex;
		padding: 0px;
		// justify-content: space-between;

		li {
			display: inline-block;
			flex: 0 0 auto;
			margin: 0 2px;
			align-self: stretch;
			max-width: 8em;
			padding: 20px;
			background-color: red;
			height: 100%;
		}
	}
}

