.flex {
	display: flex;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0
}

.flex > * {

}

.teams {
	width: 30%;
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 1em;
	span {
		margin-bottom: 1em;
	}
}

.main {
	display: flex;
	justify-content:center;
	width: 100%;
	padding: 1em;
}

.repos {
	width: 100%;
	flex: 1 0 auto;
	padding: 1em;
}

.members {
	width: 100%;
	flex: 1 0 auto;
	padding: 1em;

}
