.flex {
	display: flex;
	flex-flow: row;
	align-content: stretch;
	align-items: stretch;
	justify-content: space-around;
	margin-bottom: .5em;
	margin-top: .5em;
}

.pic {
	flex: 1 0 2%;
	padding: .5em;
	// margin-right: auto;
	// align-self: center;
}

.name {
	flex: 8 0 2%;
	padding: .5em;
	// align-self: center;
}

.value {
	flex: 12 0 2%;
	padding: .5em;
	// align-self: center;
}

.id {
	flex: 1 0 2%;
	padding: .5em;
	// align-self: center;
	// margin-left: auto;
}

.delete {
	flex: 1 0 2%;
	padding: .5em;
	// align-self: center;
	// margin-left: auto;
}

.update {
	flex: 1 0 2%;
	padding: .5em;
	// align-self: center;
	// margin-left: auto;
}
