@import '../_scss/_variables';
// @import '../_scss/_fonts';

.Panel{
	display: flex;
	height: 100%;
	// padding: 1em;
	flex-direction: column;
	// justify-content: center;
	// align-items: center;
	// flex: 0, 0, auto;
	// background-color:red;
}

.Panel-Icon{
	// height: 100%;
	// width: 100%;
	flex: 2 0 10%;
	font-size: 1.5em;
	padding: 1em;
}

.Panel-Message-Label{
	height: 100%;
	// padding: 1em;
	// align-self: center;
	// flex: 2 0 auto;
	// align-self: center;
	font-family: OpenSans;
	font-weight: 900;
	font-size: 1em;
	letter-spacing: .05em;
	// display: flex;
	color: $mainColor;
}

.Panel-Message-Text{
	height: 100%;
	// width: 100%;
	// padding: 1em;
	// flex: 2 0 auto;
	// align-self: center;
	font-family: OpenSans;
	font-weight: 900;
	font-size: 1em;
	letter-spacing: .05em;
	// margin-left:.5em;
	// display: flex;
	color: $highlight;
}


