@import '../_scss/_variables';
// @import '../_scss/_fonts';

.Panel-Base * {
	//
}

.Panel {
	// border: 1px solid black;
	// border: 10px solid orange;
	// padding: 4em;
	// flex: 10 0 50%;
	// align-self: flex-start;
	// display: flex;
	// height: 100%;
	padding: 1em;
	// flex-direction: row;

	align-content: center;
	// align-items: center;
	// flex: 0, 0, auto;
}

.Panel-Message-Heading {
	// margin-right: auto;
	text-align: center;
	// position: relative;
	height:50%;
	// background-color: $mainHighlight;
	width: 100%;
	// height: 100%;
	padding: .05em;
	// align-self: center;
	align-self: flex-start;
	// flex: 1 0 auto;
	// align-self: center;
	font-family: OpenSans;
	font-weight: 900;
	font-size: 1.0em;
	letter-spacing: .05em;
	// display: flex;
	color: $highlight;
}

.Panel-Icon {
	// height: 100%;
	// width: 100%;
	color: $highlight;
	flex: 2 0 10%;
	font-size: .9em;
	padding: .3em;
}

.Panel-Message {

	display: flex;
	flex-direction: column;
}

.Panel-Message-Label {
	// height: 100%;
	// padding: 1em;
	margin-top: 2em;
	align-self: center;
	flex: 1 0 50%;
	// align-self: center;
	font-family: OpenSans;
	font-weight: 900;
	font-size: 1.5em;
	letter-spacing: .05em;
	// display: flex;
	color: $mainColor;
}

.Panel-Message-Text {
	align-self: flex-end;
	margin: 0px auto;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	// height: 100%;
	// width: 100%;
	// padding: 1em;
	flex: 2 0 50%;
	// align-self: center;
	font-family: OpenSans;
	font-weight: 900;
	font-size: 1.3em;
	letter-spacing: .05em;
	// margin-left:.5em;
	// display: flex;
	color: $highlight;
}


