@import '../_scss/_variables';

.ActiveItem{
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	border-radius: 1em;
	font-family: OpenSans;
	font-weight: 600;
	font-size: .75em;
	letter-spacing: .05em;
}

.ActiveItem-Name{
	display: block;
	background-color: $highlight;
	// border: .1em solid $mainColor;
	flex: 2 0 auto;
	aign-self: flex-end;
	width: 34%;
	height: 25%
}

.ActiveItem-Name-Text{

}

.ActiveItem-Details{
	display: block;
	background-color: $highlight;
	// border: .1em solid $mainColor;
	flex: 8 0 auto;
	width: 33%;
	height: 25%
}

.ActiveItem-Details-Content{

}

.ActiveItem-Functionality{
	display: flex;
	margin: .2;
	flex: 8 0 auto;
	width: 33%;
	height: 25%;
	background-color: $highlight;
	justify-content: center;
	align-items: center;
	// border: .1em solid $mainColor;

}

.ActiveItem-Functionality-Add{
	// border: .5em solid $backgroundColor;
	background-color: $mainColor;
	color: $backgroundColor;
	border-radius: 1em;
	flex: 1 0 50%;
	margin-right: .5em;
	padding: .5em;
	&:hover {
		cursor: pointer;
		background-color: $backgroundColor;
		color: $mainColor;
		// border: .1em solid $backgroundColor;
	}
}

.ActiveItem-Functionality-Remove{
	margin: 0 auto;
	// border: .5em solid $backgroundColor;
	border-radius: 1em;
	color: $backgroundColor;
	background-color: $mainColor;
	flex: 1 0 50%;
	padding: .5em;
	&:hover {
		cursor: pointer;
		background-color: $backgroundColor;
		color: $mainColor;
		// border: .1em solid $backgroundColor;
	}
}

.ActiveItem-MainView{
	display: block;
	background-color: $highlight;
	// border: .1em solid $backgroundColor;
	width: 100%;
	height: 75%;
	&:before {
		content: "";
		display: block;
	}
	&:after {
		content: "";
		display: block;
	}
}

.ActiveItem-MainView-Content{

}
