@import '../_shared/_scss/_variables';
// @import '../_shared/_scss/_fonts';

* {
	box-sizing: border-box;
}

#Container{
	position: fixed;
	flex-flow: column;
	display: flex;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:red;
}

#Header{
	display: flex;
	flex-flow: row;
	background-color:orange;
	flex: 1 0 10%;
}

#Header-Logo{
	border-right: 3px solid $mainHighlight;
	border-bottom: 3px solid $mainHighlight;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $backgroundColor;
	flex: 2.5 0 25%;
}

#Header-Logo-Image{

	// background-color:red;
	padding: 1em;
	// flex: 2 0 20%;
}

#Header-Logo-Image-Git{
	color: $mainColor;
	font-family: OpenSans-Light;
	font-size: 2.4em;
	letter-spacing: .1em;
}

#Header-Logo-Image-Together{
	color: $highlight;
	font-family: OpenSans-Italic;
	font-size: 2.4em;
	letter-spacing: .1em;
}

#Header-Nav{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $mainColor;
	flex: 7.5 0 75%;
}

#Header-Nav-Text{
	display: flex;
	justify-content: flex-end;
	padding: 1em;
	align-items: center;
	background-color: $mainColor;
	width: 100%;
	flex: 6 0 60%;

}

#Header-Nav-Text-Welcome{
	font-family: OpenSans;
	font-weight: 900;
	font-size: 2em;
	letter-spacing: .05em;
	// display: flex;
	color: $backgroundColor;
}
#Header-Nav-Text-UN{
	font-family: OpenSans;
	font-weight: 900;
	font-size: 2em;
	letter-spacing: .05em;
	margin-left:.5em;
	// display: flex;
	color: $highlight;
}

#Header-Nav-IconBar{
	display: flex;
	align-self: flex-start;
	justify-content: space-around;
	background-color: $mainColor;
	border-radius: 1em;
	flex: 4 0 40%;
	padding: 0em;
	width: 100%;
	cursor: pointer;
}

.Header-Nav-IconBar-Icons{
	font-size: 1.5em;
	color: $backgroundColor;
	&:hover {
		color: $highlight;

	}
}

#Body{
	display: flex;
	background-color:orange;
	flex: 8 0 80%;
}

#Body-ChannelTeam{
	display: flex;
	// width: 100%;
	// justify-content: center;
	// align-items: center;
	flex-direction: column;
	background-color:lightblue;

	flex: 2.5 0 25%;
}

#Body-ChannelTeam-Channel{
	// display: flex;
	// flex-direction: column;

	// width: 100%;

	background-color: $mainColor;
	flex: 2 0 50%;
}

#Body-ChannelTeam-Team{
	// display: flex;
	// flex-direction: column;
	// width: 100%;
	background-color: $mainColor;
	flex: 2 0 50%;
}

#Body-Content{
	// border: 4px solid magenta;
	border-top: 4px solid $mainHighlight;
	border-left: 4px solid $mainHighlight;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	// align-items:center;
	// justify-content: center;
	// background-color:magenta;
	flex: 7.5 0 75%;
}

#Body-Content > div{
	// display: flex;
	// border: 4px solid red;
	// flex-direction: column;
	flex: 2 0 50%;
	// width: 50%;
	// height: 33.33%;
	// border: 1px solid black;
	color: $mainColor;
	background-color: $backgroundColor;
}

.active {
	color: $mainHighlight;
}

