@import '../_shared/_scss/_variables';
@import '../_shared/_scss/_fonts';

* {
	box-sizing: border-box;
	// border: 1px solid black;
}



#Container{
	position: fixed;
	flex-flow: column;
	display: flex;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:red;
}

#Header{
	display: flex;
	flex-flow: row;
	background-color:orange;
	flex: 1 0 10%;
}

#Header-Logo{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $backgroundColor;
	flex: 2.5 0 25%;
}

#Header-Logo-Image{

	// background-color:red;
	padding: 1em;
	// flex: 2 0 20%;
}

#Header-Logo-Image-Git{
	color: $mainColor;
	font-family: OpenSans-Light;
	font-size: 2.4em;
	letter-spacing: .1em;
}

#Header-Logo-Image-Together{
	color: $highlight;
	font-family: OpenSans-Italic;
	font-size: 2.4em;
	letter-spacing: .1em;
}

#Header-Nav{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:green;
	flex: 7.5 0 75%;
}

#Header-Nav-Text{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $mainColor;
	width: 100%;
	flex: 6 0 60%;

}

#Header-Nav-Text-Welcome{
	font-family: OpenSans;
	font-weight: 900;
	font-size: 3em;
	letter-spacing: .05em;
	// display: flex;
	color: $backgroundColor;
}
#Header-Nav-Text-UN{
	font-family: OpenSans;
	font-weight: 900;
	font-size: 3em;
	letter-spacing: .05em;
	margin-left:.5em;
	// display: flex;
	color: $highlight;
}

#Header-Nav-IconBar{
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	background-color: $mainColor;
	flex: 4 0 40%;
	width: 100%;
}

.Header-Nav-IconBar-Icons{
	font-size: 1.5em;
	&:hover {
		color: $highlight;
	}
}

#Body{
	display: flex;
	background-color:orange;
	flex: 8 0 80%;
}

#Body-RepoTeam{
	display: flex;
	flex-direction: column;
	background-color:lightblue;
	flex: 2.5 0 25%;
}

#Body-RepoTeam-Repos{
	// display: flex;
	// flex-direction: column;
	background-color: $mainColor;
	flex: 2 0 50%;
}

#Body-RepoTeam-Team{
	// display: flex;
	// flex-direction: column;
	background-color: $mainColor;
	flex: 2 0 50%;
}

#Body-Content{
	display: flex;
	flex-wrap: wrap;
	// background-color:magenta;
	flex: 7.5 0 75%;
	div {
		width: 50%;
		height: 33.33%;
		// border: 1px solid black;
		color: $mainColor;
		background-color: $backgroundColor;
	}
}


