@import '../_scss/_variables';

.ListItem {
	padding: .5em 1em;
	display: inline-block;
	background-color: $highlight;
	color: $backgroundColor;
	margin: .2em;
	border-radius: 1em;
	&:hover {
		background-color: $backgroundColor;
		color: $mainColor;
	}
}

.ListItem-Name {

}

.ListItem-Name-Text {

}

.ListItem-Online {
	line-height: 1em;
	display: inline-block;
	border-radius: 1em;
	border: .1em solid $backgroundColor;
	background-color: $highlight;
	width: 1em;
	height: 1em;
}

.ListItem-Offline {
	line-height: 1em;
	display: inline-block;
	border-radius: 1em;
	border: .1em solid $backgroundColor;
	background-color: $mainColor;
	width: 1em;
	height: 1em;
}

