@import '../_scss/_variables';

.ListItem {
	padding: .5em 1em;
	display: inline-block;
	background-color: $mainColor;
	color: white;
	margin: .2em;
	border-radius: 1em;
	&:hover {
		background-color: $highlight;
		color: $mainColor;
	}
}

.ListItem-Name {

}

.ListItem-Name-Text {

}
